{{#unless @member}}
  {{#if @site.members_enabled}}
    {{#unless @site.members_invite_only}}
      <div class='c-section c-section--newsletter'>
        <div class='o-grid'>
          <div class='c-content u-align-center'>
            <p class='u-font-heading'>{{t 'Start your journey ✺ Free membership' }}</p>
            {{> newsletter-form inputLabel='global-newsletter-form'}}
                        <p class='u-font-body'>{{t 'I agree to the PMA Membership Agreement' }}</p>
          </div>
        </div>
      </div>
    {{/unless}}
  {{/if}}
{{/unless}}