{{#unless @member}}
  {{#if @site.members_enabled}}
    {{#unless @site.members_invite_only}}
      <div class='c-section c-section--newsletter'>
        <div class='o-grid'>
          <div class='c-content u-align-center'>
            <p class='u-font-heading'>{{t 'Join the Mindful Microdosing club and get the latest updates in your inbox' }}</p>
            {{> newsletter-form inputLabel='global-newsletter-form'}}
          </div>
        </div>
      </div>
    {{/unless}}
  {{/if}}
{{/unless}}