{{!< default}}

{{#contentFor 'title'}}{{t 'Blog' }}{{/contentFor}}

<header class='c-page-header'>
  <div class='o-grid o-grid--2-columns'>
    <h1 class='c-page-header__heading u-font-heading'>{{t 'Blog' }}</h1>
  </div>
</header>

{{> loop }}

{{ pagination }}