<footer class='c-footer'>
  <div class='o-grid'>
    {{> social-links }}
  </div>

  {{#if @site.secondary_navigation}}
    <div class='o-grid'>
      <ul class='u-plain-list c-footer-nav'>
        {{ navigation type='secondary' }}
      </ul>
    </div>
  {{/if}}

  <div class='o-grid'>
    <div class='c-footer-copy'>
      &copy; {{ date format='YYYY' }} {{ @site.title }} -
      {{{t 'Published with {ghostLink} & {themeLink}' ghostLink='<a href=\'https://ghost.org\'>Ghost</a>' themeLink='<a href=\'https://aspirethemes.com/themes/petra\'>Petra</a>' }}}
    </div>
  </div>
</footer>