// ------------------------------------
// Components > Card Post
// ------------------------------------

.c-card-post {
  --border-radius-outer: var(--space-32);
  --padding: var(--space-24);
  --border-radius-inner: calc(var(--border-radius-outer) - var(--padding));

  display: block;
  position: relative;
  padding: var(--padding);
  border-radius: var(--border-radius-outer);
  border: var(--border-width) var(--border-style) var(--color-border);

  &--has-no-image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__media {
    overflow: hidden;
    position: relative;
    border-radius: var(--border-radius-inner);
    margin-bottom: var(--space-16);
    aspect-ratio: var(--ratio-3x2);
    background-color: var(--color-background-secondary);
  }

  &__image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__meta {
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: var(--space-8);

    > *:not(:empty) + * {
      &:before {
        content: var(--html-symbol-space) var(--html-symbol-emDash) var(--html-symbol-space);
      }
    }
  }

  &__tag {
    @include font($size: small);

    color: var(--color-text-secondary);
  }

  &__date {
    @include font($size: small);

    color: var(--color-text-secondary);
  }

  &__reading-time {
    @include font($size: small);

    color: var(--color-text-secondary);
  }

  &__title {
    @include font($size: base, $weight: medium);

    &.large {
      @include mq($from: desktop) {
        @include font($size: large);
      }
    }

    a:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
  }

  @include hover() {
    background-color: var(--color-background-secondary);

    .c-card-post__media {
      opacity: .9;
      transition: opacity var(--motion-duration-fast) linear;
    }
  }
}