// ------------------------------------
// Components > Feature Image
// ------------------------------------

.c-feature-image-figure {
  width: fit-content;
  position: sticky;
  top: var(--space-96);
  align-self: start;
  border-radius: var(--space-8);
  background-color: var(--color-background-secondary);

  @include mq($from: desktop) {
    margin-left: auto;
  }

  img {
    border-radius: var(--space-8);
  }
}

.c-feature-image-caption {
  @include caption();
}