// ------------------------------------
// Components > Section
// ------------------------------------

.c-section {
  margin-top: var(--space-64);
  padding-top: var(--space-64);
  border-top: var(--border-width) var(--border-style) var(--color-border);

  @include mq($from: desktop) {
    margin-top: var(--space-96);
    padding-top: var(--space-96);
  }
}