// ------------------------------------
// Tokens > Border Radius
// ------------------------------------

:root {
  --border-radius: var(--space-4);
  --border-radius-pill: var(--space-40);
  --border-radius-circle: 50%;
}