// ------------------------------------
// Tokens > HTML Symbols
// ------------------------------------

:root {
  --html-symbol-divider: '✺';
  --html-symbol-checkmark: '✓';
  --html-symbol-multiplication: '✕';
  --html-symbol-emDash: '\2014';
  --html-symbol-space: '\2002';
}