{{!-- Homepage Highlights --}}

{{#if @custom.show_highlights_section}}
  <div class='c-section c-section--highlights'>
    <div class='o-grid o-grid--4-columns'>

      {{!-- Highlight Start --}}
      <a href='/get-started' class='c-card-highlight'>
        <div class='c-card-highlight__head'>
          <span class='c-card-highlight__icon'>❀</span>
          <h3 class='c-card-highlight__title'>Get started</h3>
        </div>
        <p class='c-card-highlight__description'>New to microdosing? Start here</p>
      </a>
      {{!-- Highlight End --}}


      {{!-- Highlight Start --}}
      <a href='/education' class='c-card-highlight'>
        <div class='c-card-highlight__head'>
          <span class='c-card-highlight__icon'>❉</span>
          <h3 class='c-card-highlight__title'>Education</h3>
        </div>
        <p class='c-card-highlight__description'>Browse the archive of resources.</p>
      </a>
      {{!-- Highlight End --}}


      {{!-- Highlight Start --}}
      <a href='/products' class='c-card-highlight'>
        <div class='c-card-highlight__head'>
          <span class='c-card-highlight__icon'>✣</span>
          <h3 class='c-card-highlight__title'>Products</h3>
        </div>
        <p class='c-card-highlight__description'>Learn more about our partners and products.</p>
      </a>
      {{!-- Highlight End --}}


      {{!-- Highlight Start --}}
      <a href='/manifesto' class='c-card-highlight'>
        <div class='c-card-highlight__head'>
          <span class='c-card-highlight__icon'>❂</span>
          <h3 class='c-card-highlight__title'>Manifesto</h3>
        </div>
        <p class='c-card-highlight__description'>The passion behind our mission.</p>
      </a>
      {{!-- Highlight End --}}

    </div>
  </div>
{{/if}}