{{!-- Homepage Highlights --}}

{{#if @custom.show_highlights_section}}
  <div class='c-section c-section--highlights'>
    <div class='o-grid o-grid--4-columns'>

      {{!-- Highlight Start --}}
      <a href='#' class='c-card-highlight'>
        <div class='c-card-highlight__head'>
          <span class='c-card-highlight__icon'>❖</span>
          <h3 class='c-card-highlight__title'>Consulting</h3>
        </div>
        <p class='c-card-highlight__description'>Would love working together? Let’s do that.</p>
      </a>
      {{!-- Highlight End --}}


      {{!-- Highlight Start --}}
      <a href='#' class='c-card-highlight'>
        <div class='c-card-highlight__head'>
          <span class='c-card-highlight__icon'>❦</span>
          <h3 class='c-card-highlight__title'>Products</h3>
        </div>
        <p class='c-card-highlight__description'>Checkout all my products and choose what you like.</p>
      </a>
      {{!-- Highlight End --}}


      {{!-- Highlight Start --}}
      <a href='#' class='c-card-highlight'>
        <div class='c-card-highlight__head'>
          <span class='c-card-highlight__icon'>✣</span>
          <h3 class='c-card-highlight__title'>Press</h3>
        </div>
        <p class='c-card-highlight__description'>Find all the covered information about me.</p>
      </a>
      {{!-- Highlight End --}}


      {{!-- Highlight Start --}}
      <a href='#' class='c-card-highlight'>
        <div class='c-card-highlight__head'>
          <span class='c-card-highlight__icon'>♣</span>
          <h3 class='c-card-highlight__title'>Media</h3>
        </div>
        <p class='c-card-highlight__description'>All the media around my long presentations.</p>
      </a>
      {{!-- Highlight End --}}

    </div>
  </div>
{{/if}}